@font-face {
  font-family: "panther";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/panther.ttf") format("truetype"); }
  
@font-face {
  font-family: "avenirnew";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/expossi/expo-ssi.ttf") format("truetype"); }

@font-face {
  font-family: "avenirnew";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/expossi/expo-ssi-bold.ttf") format("truetype"); }

@font-face {
  font-family: "welcomeweb";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/welcomeweb/welcomeweb-regular.ttf") format("truetype"); }
  
@font-face {
  font-family: "welcomeweb";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/welcomeweb/welcomeweb-medium.ttf") format("truetype"); }

@font-face {
  font-family: "welcomeweb";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/welcomeweb/welcomeweb-bold.ttf") format("truetype"); }